@import "tailwindcss";

.AppButton{
    background-color: rgb(0, 0, 255);
    color: aliceblue;
    font-weight: 600;
    margin: 5px;
    padding: 10px 25px 10px 20px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    
}
.AppButton:hover{
    background-color: rgb(0, 204, 255);
    color: black;
    font-weight: 600;
    cursor: pointer;

}

.CodeHeader{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.AppForm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.AppBody{
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 10px 10px;
    border-width: .5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.Title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-left: 10px;
}

.FormField{
    margin: 10px 10px;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
    
}

.PageBackground{
    background-color: whitesmoke;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.iFeedback{
    color: rgb(255, 0, 0);
    font-weight: 500;
    font-size: 18px;
}
#BlockTitle{
    font-weight: 700;
    font-size: 20px;
}

#NavHomeButton{
    margin-top: -10px;
}

#delete{
    background-color: rgb(150, 0, 0);
}

#delete:hover{
    background-color:rgb(247, 153, 116);

}

#CodeTextArea{
    min-height: 30vh;

}